
/* src/components/CustomerDetails.css */
.customer-details {
    padding: 20px;
  }
  
  .customer-details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .details {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 10px;
  }
  
  .details p {
    margin: 5px 0;
  }
  
  .photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .photo-grid img {
    width: 30%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .photo-grid img.active {
    border: 2px solid blue; /* Highlight the active photo */
  }
  